[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "compartmap"]
	path = compartmap
	url = https://github.com/biobenkj/compartmap
